<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/regular.css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
<style>
td{
   vertical-align:top; 
}
textarea {
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 30px;
    width:350px;
    white-space: pre;
    overflow-wrap: normal;
    /*overflow-x: scroll;*/
}
.preview {
    width: 350px;
    border: solid orange 1px;
    font-family: inherit;
    font-size: inherit;
    padding: 2px;
}
.list-group-item{
    padding: 0.2em 0.5em;
}
.entry-name{
    width:150px
}
.navbar-text{
    font-weight:bold;
}
</style>
<div id="main-div">
    
    <div class="row">
        <div class="col-auto" style="overflow-x:hidden; font-size:.7em;height:100vh;">
            <input type="text" v-model="fileNameFilter" class="form-control form-control-sm" />
            <div class="btn-group btn-group-sm" role="group" aria-label="">
              <button type="button" class="btn btn-outline-secondary" v-bind:class="{active:fileGroupFilter==''}" v-on:click="selectGroup('')">All</button>              
              <button type="button" class="btn btn-outline-success" v-bind:class="{active:fileGroupFilter=='Completed'}" v-on:click="selectGroup('Completed')">Completed</button>
              <button type="button" class="btn btn-outline-warning" v-bind:class="{active:fileGroupFilter=='Incompleted'}" v-on:click="selectGroup('Incompleted')">Incomplete</button>
            </div>
            <div class="list-group" style="min-width:240px">
              <button v-for="file in filteredFileList" class="list-group-item list-group-item-action" v-bind:class="{active:selectedFile.fileName==file.fileName,'list-group-item-success':(file.isCompleted || file.translatedText==file.text),'list-group-item-warning':(!file.isCompleted && file.translatedText>0)}" v-on:click="select(file)" >{{file.fileName}} <span v-if="file.isCompleted==false&&file.translatedText<file.text">({{file.translatedText}}/{{file.text}})</span></button>
            </div>
        </div>
        <div class="col">
            <div class="row"> 
                <div class="col-auto">
                    <h5>{{messageTable.fileName}}</h5>
                </div>
                <div class="col-auto me-auto">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" v-model="messageTable.isCompleted" value="true" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Completed
                      </label>
                    </div>
                </div>
                <div class="col-sm-2 text-end">
                    <button type="button" class="btn-primary btn" v-on:click="save()">Save</button>
                </div>
            </div>
            
            <div style="height:100vh;overflow-y:scroll">
                <table class="table">
                <tbody >
                    <tr v-for="item in messageTable.entryList">
                        <td class="entry-name text-break">
                            {{item.entryName}}
                        </td>
                        <td>
                            <div v-for="text in item.textList" class="row gx-2">                                
                                <div class="col-auto">
                                    <textarea type="text" v-bind:id="'txt-translated-'+text.Line" v-bind:style="text.colour?'color:'+text.colour:''" v-model="text.translatedText" ></textarea>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-sm btn-outline-dark" v-on:click="copyOrigin(text)" tabindex="-1"><i class="far fa-copy"></i></button>
                                </div>
                                <div class="col-auto">
                                    <textarea type="text" v-bind:id="'txt-original-'+text.Line" v-bind:style="text.colour?'color:'+text.colour:''" v-model="text.originalText" readonly tabindex="-1"></textarea>
                                </div>
                            </div>
                            <div v-if="item.textList.length>1" class="row gx-2">                                
                                <div class="col-auto">
                                    Preview
                                    <pre class="preview"><span v-for="text in item.textList" v-bind:style="text.colour?'color:'+text.colour:''">{{text.translatedText}}</span></pre>
                                </div>
                                <div class="col-auto">
                                    <div style="width:30.25px"></div>
                                </div>
                                <div class="col-auto">
                                    Preview
                                    <pre class="preview"><span v-for="text in item.textList"  v-bind:style="text.colour?'color:'+text.colour:''">{{text.originalText}}</span></pre>
                                </div>
                            </div>
                        </td>
                        @*<td>
                            <template v-for="text in item.textList">
                                <textarea type="text" v-bind:id="'txt-original-'+text.Line" v-model="text.originalText" readonly tabindex="-1"></textarea>
                                <br/>
                            </template>                    
                        </td>*@
                    </tr>        
                </tbody>
            </table>
            </div>
            
        </div>
    </div>
    
</div>

@section Scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script>
    
    var vue = new Vue({
        el:"#main-div",
        data:{
            progress:{
                totalText:100,
                totalTranslatedText:100,
            },
            fileList:[],
            selectedFile:"",
            fileNameFilter:"",
            fileGroupFilter:"Incompleted",
            messageTable:{
                fileName:"",
                entryList:[]
            }
        },
        computed:{
            filteredFileList(){
                var filter = this.fileNameFilter.toLowerCase()
                if(filter!=""){
                    return this.fileList.filter(x=>x.fileName.toLowerCase().includes(filter));
                }
                if(this.fileGroupFilter==""){
                    this.fileNameFilter = "";
                    return this.fileList;
                }else if(this.fileGroupFilter=="Completed"){
                    return this.fileList.filter(x=>x.isCompleted);
                }else if(this.fileGroupFilter=="Incompleted"){
                    return this.fileList.filter(x=>!x.isCompleted);
                }
            },
            totalText(){
                var total = 0;
                 this.fileList.reduce(function(prev,cur){ total += cur.text });
                 return total;
            },
            totalTranslatedText(){
                var total = 0;
                return this.fileList.reduce(function(prev,cur){ total += cur.translatedText });
            }
        },
        methods:{
            selectGroup(group){
                this.fileGroupFilter = group;
            },
            select(file){
                this.selectedFile=file;
                this.getMessageTable(file.fileName);
            },
            getMessageTable:function(fileName){
                var v = this;
                $.ajax({
                    url:"@Url.Action("GetMessageTable")",
                    data:{fileName:fileName},
                    dataType:"json"
                }).done(function(result){
                    v.messageTable=result;
                    Vue.nextTick(function(){
                        v.updateTextareaHeight()
                    })
                }).fail(function(){
                    console.log('fail');
                });
            },
            copyOrigin:function(text){
                text.translatedText=text.originalText;
            },
            save(){
                var v = this;
                $.post({
                    url:"@Url.Action("Save")",
                    contentType:"application/json",
                    data:JSON.stringify(this.messageTable),
                }).done(function(result){
                    v.progress = result.progress;
                    v.selectedFile.translatedText = result.currentTranslatedText;
                    v.selectedFile.isCompleted = v.messageTable.isCompleted;
                    toastr.success("Saved");
                    v.updateProgress()
                }).fail(function(){
                    toastr.error("Error!");
                });
            },            
            auto_grow:function(element) {
                element.style.height = "5px";
                element.style.height = (element.scrollHeight)+"px";
            },
            updateTextareaHeight:function(){
                $("textarea").each(function(index,element){
                    element.style.height = "5px";
                    element.style.height = (element.scrollHeight)+"px";
                });
            },
            updateProgress(){
                $("#navbar-percent-completed").html((this.progress.totalTranslatedText/this.progress.totalText*100.0).toFixed(2)).attr("title",this.progress.totalTranslatedText+"/"+this.progress.totalText);
            }
        },
        created: function(){
            var v = this;
            $.ajax({url:"@Url.Action("GetFileList")",dataType:"json"})            
            .done(function(result){
                v.fileList = result.files;
                v.progress = result.progress;
                v.select(v.filteredFileList[0]);
                v.updateProgress();
            });
        }
    });
    $().ready(function(){
        $("#main-div").on("input","textarea",auto_grow)
        function auto_grow(e) {
            var element=e.target;
            element.style.height = "5px";
            element.style.height = (element.scrollHeight)+"px";
        }
    });
    
    //function getMessageTable(fileName){
    //    $.ajax({
    //        url:"@Url.Action("GetMessageTable")",
    //        data:{fileName:fileName},
    //        dataType:"application/json"
    //    }).done(function(result){
    //        return result;
    //    });
    //}
</script>
}